* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #372639;
  color: #333;
  line-height: 1.6;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .text {
  text-align: left;
}

.header-content .photo img {
  width: 240px;
  height: 250px;
  border-radius: 50%; /* Makes it circular */
  object-fit: cover;
  border: 3px solid white;
}


header {
  background: #123622;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background: #004d4d;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #f5ecec;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
  color: #004d4d;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

footer {
  text-align: center;
  background: #008080;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
